.excursion{

    margin-top: 30px;
    padding-bottom: 50px;
    border-bottom: 1px solid #000;

}

.excursion:last-child {

    border-bottom: none;

}

.title{

    padding-bottom: 15px;
    font: 30px bold;
    text-transform: uppercase;
}

.bold{

    display: inline-block;
    padding: 15px 0px;
    font: large bold;

}

.btn {

    margin: 15px 0 0 40%;

}

.joinExcursionParagraph {

    margin: 15px 0 0 40%;
    color: green;
    font-weight: bold;
    text-transform: uppercase;
   
    
}