.title{

    color: #557027;
    font-weight: bold;
    margin-top: 60px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    padding-bottom: 30px;

}

.messageNotFound{

    font-size: 25px;
    font-weight: bold;
    color: rgb(100, 98, 98);
    padding-bottom: 30px;
}