.title{

    margin-top: 60px;
    padding-bottom: 30px;
    color: #557027;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    

}

.messageNotFound{

    padding-bottom: 30px;
    font: 25px bold;
    color: #595c55;
    
}