.footer {

    background-color: #557027;
    bottom: 30px;
    padding: 55px 0 40px 0;
    border-bottom-left-radius: 0.8em;
    border-bottom-right-radius: 0.8em;
    color: white;
    text-align: center;

}

.footer a {

    color: white;
    font-weight: bold;
    text-decoration: none;

}