.nav {

    border-radius: 5px;
    background-color: #95bd51;

}

.nav a{

    color: white;
    font-family:'Franklin Gothic Medium', Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 20px;

}

.searchBar {

    padding-top: 25px;
    padding-bottom: 15px;
}

.footer {

    /*position: fixed;*/
    bottom: 10px;
    left: 40%;
    padding-top: 25px;
    padding-bottom: 15px;
    text-align: center;

}

.footer a {

    text-decoration: none;
    color: #95bd51;

}