.container{

    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;

}

.nav {

    background-color: #7ca339;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding-top: 20px;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    
}

.logo{

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
    font-weight: bolder;
    font-style: italic;
    padding-bottom: 15px;
    padding-left: 10px;
}

.nav a{

    color: white;
    font-family:'Franklin Gothic Medium', Arial, sans-serif;
    padding-top: 18px;
    padding-left: 12px;

}

.searchBar {

    padding-top: 10px;
    padding-bottom: 10px;
}

.footer {

    bottom: 30px;
    margin: 0 auto;
    padding-top: 55px;
    padding-bottom: 40px;
    border-top: 0.1px solid black;
    text-align: center;

}

.footer a {

    color: #7ca339;
    text-decoration: none;
    font-weight: bold;

}