.nav {

    padding-top: 20px;
    background-color: #557027;
    color: white;
    font: 16px;
    border-top-left-radius: 0.8em;
    border-top-right-radius: 0.8em;
    
}

.nav a{

    padding-top: 23.2px;
    color: white;
    text-decoration: none;

}
