.form {

    background-color: white;
    padding: 3.5em;
    
}

.list{
    
    padding-top: 1em;
    margin-left: 15px;
    font-size: 15px;
    color: #595c55;
}

.btn{

    text-align: center;
    padding-top: 30px;
}