.body{

    background-color: #517416;

}

.register{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
   
}

.form {

    background-color: white;
    padding: 1.5em;
    border-radius: 0.8em;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    
}

.list{
    
    margin-left: 15px;
    font-size: 15px;
    color: rgb(124, 122, 122);
}

.btn{

    text-align: center;
    padding-top: 30px;
}