.title{

    color: #557027;
    margin-top: 60px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 30px;
}

.userInfo{

    font-size: large;

}

.userInputLabel {

  font-size: large;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  padding-left: 15px;
  text-indent: -15px;
  text-decoration: underline;
}

.editBtn{

  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: 45%;

}

.cancelBtn{

    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 38%;
  
}

.saveBtn{

  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: 15px;

}