.user{

    background-color: white;
    margin-top: 200px;
    padding-bottom: 200px;
}

.userImage{

    margin-top: 200px;
    width: 350px;
    height: 350px;
}

.userInfo{

    border-left: 0.05em solid;
    margin-top: 150px;
    font-size: large;
    text-transform: uppercase;
    text-decoration: underline;
}

.title{

    font-weight: bold;
}