.title{

    color: #557027;
    margin-top: 60px;
    padding-bottom: 30px;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
    
}

.userInfo{

    font-size: large;

}

.userInputLabel {

  display: block;
  margin: 10px 0;
  padding-left: 15px;
  text-indent: -15px;
  font-size: large;
  font-weight: bold;
  text-transform: uppercase;
}

.editBtn{

  margin: 50px 0 100px 45%;

}

.cancelBtn{

  margin: 50px 0 100px 38%;
  
}

.saveBtn{

  margin: 50px 0 100px 15px;

}