.title{

    color: #557027;
    margin-top: 60px;
    padding-bottom: 30px;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
    
}

.userInfo{

    font-size: large;

}

.userInputLabel {

  font-size: large;
  font-weight: bold;
  text-transform: uppercase;
}

.btns{

  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}